.container {
    height: 100%;
    font-size: small;
    max-width: 100%;
}

.card {
    background-repeat: no-repeat;
    position: relative;
    height: 380px;
    overflow: hidden;
    box-shadow: 6px 4px 8px rgba(0, 0, 0, 0.1), inset 1px 1px 4px rgba(0, 0, 0, 0.1)
}
.HeroCard{
    background-image: url(../assets/img/Brandbg.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    height: 380px;
    overflow: hidden;
    box-shadow: 6px 4px 8px rgba(0, 0, 0, 0.1), inset 1px 1px 4px rgba(0, 0, 0, 0.1)
}
.HeroContainer {
    position: absolute;
    display: flex;
    width: 300%;
    box-shadow: 6px 4px 8px rgba(0, 0, 0, 0.1), inset 1px 1px 4px rgba(0, 0, 0, 0.1);
    animation: slideAnimation 18s linear infinite;

}

.HeroContainer:nth-child(1) {
    background: linear-gradient(135deg, #41fcff 0%, #ec00e1 100%);
    animation-delay: 0s;
}

.HeroContainer:nth-child(1) .imgContainer {
    background-image: url("../assets/img/bgImg1.png");
}

.HeroContainer:nth-child(2) {
    background: linear-gradient(135deg, rgb(71, 255, 240) 0%, rgb(0, 102, 204) 100%);
    animation-delay: 6s;
}

.HeroContainer:nth-child(2) .imgContainer {
    background-image: url("../assets/img/bgImg2.png");
}

.HeroContainer:nth-child(3) {
    background: linear-gradient(135deg, rgb(0 255 248) 0%, rgb(255 0 188) 100%);
    animation-delay: 12s;
}

.HeroContainer:nth-child(3) .imgContainer {
    background-image: url("../assets/img/bgImg3.png");
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.contentContainer span {
    color: white;
    background-color: #227eb09c;
    width: 120px;
    height: 50%;
    font-weight: 700;
}

.contentContainer span:hover {
    cursor: pointer;
}

.subcontent {
    width: 50%;
}

.imgContainer {
    z-index: 1;
}

.elements {
    display: flex;
}

.imgContainer {
    width: 13rem;
    height: 13rem;
    background-position: center;
    background-size: cover;
}

@media only screen and (min-width: 0px) and (max-width: 540px) {
    .card {
        height: 380px;
    }
    .card:nth-child(1) {
        height: 380px;
        margin-bottom: 10px;
    }
    .HeroCard{
        height: 380px;
        margin-bottom: 10px;
    }

    .contentContainer {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 2px solid black;
        width: 100%;
    }

    .subcontent {
        margin-top: 0px !important;
        width: 100%;
    }

    .HeroContainer:nth-child(n) .imgContainer {
        background: none;
        width: 0px;
    }
}
@media only screen and (min-width: 541px) and (max-width: 768px) {
    .card:nth-child(1) {
        margin-bottom: 10px;
    }
    .HeroCard{
        margin-bottom: 10px;
    }
}

@keyframes slideAnimation {
      0%, 25% {
        transform: translateX(0%);
      }
      27.78% {
        transform: translateX(100%);
      }
      33.33%{
        transform: translateX(200%);
      }
      50%, 61.11% {
        transform: translateX(300%);
      }
      66.67%, 77.78% {
        transform: translateX(200%);
      }
      95% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0%);
      }
}